<form #createCollectionForm="ngForm" (ngSubmit)="addCollection(createCollectionForm)">
    <p>
      <label>Collection Name</label>
      <input required type="text" name="name" #name="ngModel" [(ngModel)]="formData.name" />
      <span *ngIf="name.invalid && name.touched" class="text-red-800">This is required</span>
    </p>
  
    <p>
      <label>Collection Heading</label>
      <input required type="text" name="heading" #heading="ngModel" [(ngModel)]="formData.heading"/>
      <span *ngIf="heading.invalid && heading.touched" class="text-red-800">This is required</span>
    </p>
  
    <p>
      <label>Collection Image</label>
      <input type="text" name="image" #image="ngModel" [(ngModel)]="formData.image"/>
      <!-- Touched: {{name.touched}}
    Dirty: {{name.dirty}}
    Pristine: {{name.pristine}} -->
    </p>
    
    <button

    [ngStyle]="{ backgroundColor: createCollectionForm.invalid ? 'grey' : 'cadetBlue' }"
    type="submit"
  >
    Add Collection
  </button>

  </form>
  <!-- [disabled]="createCollectionForm.invalid" -->