<form #createCollectionForm="ngForm" 
(ngSubmit)="addCollection(createCollectionForm)" 
[matchPasswords]="['password', 'confirmPassword']">
    <p>
      <label>Collection Name</label>
      <input required type="text" name="name" #name="ngModel" [(ngModel)]="formData.name" />
      <span *ngIf="name.invalid && name.touched" class="text-red-800">This is required</span>
    </p>
  
    <p>
      <label>Collection Heading</label>
      <input required type="text" name="heading" #heading="ngModel" [(ngModel)]="formData.heading"/>
      <span *ngIf="heading.invalid && heading.touched" class="text-red-800">This is required</span>
    </p>
  
    <p>
      <label>Collection Image</label>
      <input type="text" name="image" #image="ngModel" [(ngModel)]="formData.image"/>
      <!-- Touched: {{name.touched}}
    Dirty: {{name.dirty}}
    Pristine: {{name.pristine}} -->
    </p>
    
    <p>
      <label>Password</label>
      <input type="text" name="password" #password="ngModel" [(ngModel)]="formData.password"/>
    </p>
    <p>
      <label>Confirm Password</label>
      <input
      type="text" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="formData.confirmPassword"/> 
      <em>{{confirmPassword?.errors | json}}</em>
    </p> 



    <button

    [ngStyle]="{ backgroundColor: createCollectionForm.invalid ? 'grey' : 'cadetBlue' }"
    type="submit"
  >
    Add Collection
  </button>

  </form>
  <!-- [disabled]="createCollectionForm.invalid" -->