<form [formGroup]="form" (ngSubmit)="addCollection()">
    <p>
      <label>Collection category</label>
      <input formControlName="category" type="text" />
    </p>
  
    <p>
      <label>Collection Heading</label>
      <input formControlName="heading" type="text" />
    </p>
  
    <p>
      <label>Collection Image</label>
      <input formControlName="image" type="text" />
    </p>

    <p>
      <label>Collection Icon</label>
      <input formControlName="icon" type="text" />
    </p>

    <p>
      <label>User Email</label>
      <input
        class="border-2 border-sky-950"
        formControlName="email"
        type="text"
      />
      <span
        *ngIf="emailControl && emailControl?.errors?.['required'] && emailControl.touched"
        >This is required</span
      >
      <span
        *ngIf="emailControl && emailControl?.errors?.['pattern'] && emailControl.touched"
        >Email format is not correct.</span
      >
    </p>

    <p>
      <label>Password</label>
      <input type="text" formControlName="password"/>
    </p>
    <p>
      <label>Confirm Password</label>
      <input [style.outline]="'none'" [style.border-color]="passwordMatchError?.errors!==null? 'red' : ''" type="text" formControlName="confirmPassword"/> <em>{{passwordMatchError?.errors | json}}</em>
    </p> 

    <button type="submit">Add Collection</button>
  </form>